@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #ddf3f5;
  font-family: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
}
